* {
	font-family: sans-serif;
}
body {
	XXXbackground-color: #6A3A7D;
	background-color: #999;
}
/* =Reset -------------------------------------------------------------- */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 0;
	font-family: sans-serif;
}
html, body, div {
	margin: 0;
	padding: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
}

/* =Color -------------------------------------------------------------- */
#header {
	XXXbackground: #cccccc;
}
#main {
	XXXbackground: #dddddd;
}
#sponsorLogosWrapper {
	XXXborder: 1px dotted silver;
	XXXbackground-color: white;
	XXXtext-align: center;
}
#sponsorLogosWrapper img {
	width: 13%;
	min-width: 100px;
	vertical-align: middle;
	margin: 0 6px 0 0;
}
/* =Structures -------------------------------------------------------------- */
#header .contentSectionWrapper {
	background-color: #3a2e81;
	background: #3a2e81 url("../img/logoRoboCatsLarge.png") no-repeat 10px 5px;
	background-size: 100px auto;
	min-height: 130px;
	color: white;
}
#header .contentSectionWrapper a {
	color: white;
}
.contentSectionWrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1em;
	XXXborder: 1px dotted orange;
	XXXbackground-color: rgba(255,255,255,.5);
	background-color: white;
	border-top: 1px solid silver;
}
#primary {
	/*
	max-width: 650px;
	margin: 0 auto;
	max-width: 650px;
	*/
   margin: 0 0 0 125px;
}
#branding {
	padding: 13px 0 0 125px;
}
.site-title {
	font-size: 30pt;
}
